@media (max-width: 1360px)
{
  .logo
  {
    left: 90px;
  }
  ul
  {
    left: 2px;
  }
  .sliders
  {
    left: 0;
    width: 100%;
  }
  .rec
  {
    left: 0;
  }
  .btn1
  {
    left: 1109px;
  }
  .input_text
  {
    left: 875px;
  }
  .btn
  {
    left: 1152px;
  }
  .dropdown-content
  {
    left: 1152px;
  }
  .name_content
  {
    left: 615px;
  }
  .underline_content
  {
    left: 639px;
  }
  .img_galery1
  {
    left: 90px;
  }
  .img_block1
  {
    left: 90px;
  }
  .img_galery2
  {
    left: 487px;
  }
  .img_block2
  {
    left: 487px;
  }
  .img_galery3
  {
    left: 883px;
  }
  .img_block3
  {
    left: 883px;
  }
  .img_galery4
  {
    left: 90px;
  }
  .img_block4
  {
    left: 90px;
  }
  .img_galery5
  {
    left: 487px;
  }
  .img_block5
  {
    left: 487px;
  }
  .img_galery6
  {
    left: 883px;
  }
  .img_block6
  {
    left: 883px;
  }
  .img_galery7
  {
    left: 90px;
  }
  .img_block7
  {
    left: 90px;
  }
  .img_galery8
  {
    left: 685px;
  }
  .img_block8
  {
    left: 685px;
  }
  #gear_left1
  {
    left: 1130px;
  }
  #gear_left2
  {
    left: 1063px;
  }
  #gear_left3
  {
    left: 750px;
  }
  #gear_right1
  {
    left: 0px;
  }
  #gear_right2
  {
    left: 30px;
  }
  #gear_right3
  {
    left: 115px;
  }
  .name_content2
  {
    left: 490px;
  }
  .name_content3
  {
    left: 529px;
  }
  .underline_content3
  {
    left: 639px;
  }
  .content4
  {
    left: 0px;
    width: 100%;
  }
  .rec_content4_bloc
  {
    left: 0px;
  }
  .content5
  {
    left: 0px;
    width: 100%;
  }
  .rec_content5_bloc
  {
    left: 609px;
    width: 734px;
  }
  .footer_left1
  {
    left: 90px;
  }
  .footer_left2 > a
  {
    left: 90px;
  }
  .footer_left3 > a
  {
    left: 90px;
  }
  .footer_left4 > a
  {
    left: 90px;
  }
  .footer_left5 > a
  {
    left: 90px;
  }
  .footer_center_left1
  {
    left: 456px;
  }
  .footer_center_left2 > a
  {
    left: 456px;
  }
  .footer_center_left3 > a
  {
    left: 456px;
  }
  .footer_center_left4 > a
  {
    left: 456px;
  }
  .footer_center_left5 > a
  {
    left: 456px;
  }
  .footer_center_right1 > a
  {
    left: 739px;
  }
  .footer_center_right2 > a
  {
    left: 739px;
  }
  .footer_center_right3 > a
  {
    left: 739px;
  }
  .footer_center_right4 > a
  {
    left: 739px;
  }
  .footer_right1
  {
    left: 1060px;
  }
  .footer_right2
  {
    left: 1060px;
  }
  .footer_right3
  {
    left: 1060px;
  }
  .footer_right4
  {
    left: 1131px;
  }
  .footer_right5
  {
    left: 1060px;
  }
  .footer_right_img1
  {
    left: 1060px;
  }
  .footer_right_img2
  {
    left: 1096px;
  }
  .footer_right_img3
  {
    left: 1132px;
  }
  .footer_right_img4
  {
    left: 1168px;
  }
  .footer_bottom
  {
    left: 635px;
  }
  .last_rec1
  {
  left: 415px;
  }

  .last_rec2
  {
  left: 914px;
  }  
}




